{% extends 'base.html' %}
{% block content %}
    <div id="renderedContent">
        <div class="d-flex flex-column gap-1">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <p class="h2 text-truncate">{{ note.title }}</p>
                <div>
                    <button id="editButton" class="btn btn-primary btn-sm">Edit</button>
                    <a class="btn btn-danger btn-sm"
                       href="{{ url_for('ui.notes_ui.delete_note', note_id=note.id) }}">Delete</a>
                </div>
            </div>
            <div id="markdown" class="border p-2"></div>
        </div>
    </div>
    <form id="editNote"
          action="{{ url_for('ui.notes_ui.update_note', note_id=note.id) }}"
          method="POST"
          class="mt-3"
          style="display: none">
        <div class="form-group">
            <label for="exampleFormControlInput1">Title</label>
            <input class="form-control"
                   name="title"
                   value="{{ note.title }}"
                   type="text"
                   required>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextArea1">Content</label>
            <textarea class="form-control"
                      name="content"
                      id="editContent"
                      value="{{ note.content }}"
                      rows="9"
                      required></textarea>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
            <a class="btn btn-danger btn-sm"
               href="{{ url_for('ui.notes_ui.delete_note', note_id=note.id) }}">Delete</a>
            <a class="btn btn-secondary btn-sm"
               href="{{ url_for('ui.notes_ui.detail', note_id=note.id) }}">Cancel</a>
        </div>
    </form>
    <script>    
    document.execCommand('defaultParagraphSeparator', false, 'p');

    const editButton = document.getElementById('editButton');
    const editForm = document.getElementById('editNote');
    const editEditor = document.getElementById('editEditor');
    const editContentInput = document.getElementById('editContent');

    function renderMarkdown(markdown) {
        return marked.parse(markdown);
    }


    let content = ""
    fetch("/api/v1/notes/{{ note.id }}/content")
    .then(response=>response.json())
    .then(response=>response["content"])
    .then(_content=>{
        content = _content;
        const renderedMarkdown = renderMarkdown(content);
        const renderedMarkdownElement = document.getElementById('markdown');
        renderedMarkdownElement.innerHTML = renderMarkdown(renderedMarkdown);
    }).catch(error=>{
        throw new Error(error);   
    });

    const renderedContent = document.getElementById('renderedContent');
    editButton.onclick = function () {
        renderedContent.style.display = 'none';
        editForm.style.display = 'block';
        editContentInput.value = content;
        editContentInput.focus();
    };
    </script>
{% endblock %}
