<div class="h-100" id="cellViewerContainer-{{ cell.id }}">
    <div class="d-flex flex-column h-100 gap-2">
        <div class="d-flex flex-wrap justify-content-between align-items-center"
             hx-target="this"
             hx-swap="outerHTML">
            <h4 class="text-truncate">{{ cell.title }}</h4>
            <div>
                {% include "notes/partials/cells/shared/rank.html" %}
                <button aria-label="Edit cell"
                        class="btn btn-primary btn-sm"
                        hx-get="{{ url_for('ui.notes_ui.partial_cell_editor', cell_id=cell.id, note_id=note.id) }}"
                        id="cellEditButton-{{ cell.id }}">
                    <i class="bi bi-pencil-square"></i>
                </button>
                <a class="btn btn-danger btn-sm"
                   href="{{ url_for('ui.notes_ui.delete_cell', cell_id=cell.id, note_id=note.id) }}"><i class="bi-trash"></i></a>
            </div>
        </div>
        <input form="cellEditForm-{{ cell.id }}"
               id="cellEditFormContentInput-{{ cell.id }}"
               name="content"
               type="hidden"
               value="{{ cell.content }}"
               required />
        <iframe class="border"
                id="cellPluginIframe-{{ cell.id }}"
                src="{{ url_for('ui.plugins_ui.load_plugin', plugin='markdown-marked-js', cellId=cell.id) }}"
                style="height: 240px"></iframe>
    </div>
</div>
<script>
    function handleMessage(event) {
        const cellId = "{{ cell.id }}";
        const cellPluginIframe = document.getElementById(`cellPluginIframe-${cellId}`)
        const cellEditFormContentInput = document.getElementById(`cellEditFormContentInput-${cellId}`)

        if (event.data.source !== "cell") {
            return;
        }

        if (event.data.cellId !== cellId) {
            return;
        }

        if (event.data.type == "init") {
            fetch(`/api/v1/notes/{{ note.id }}/cells/{{ cell.id }}/content`)
                .then(response => response.json())
                .then(response => {
                    const content = response["content"];
                    const message = {
                        cellId,
                        content,
                        source: "host"
                    };
                    cellPluginIframe.contentWindow.postMessage(message);
                })
                .catch(error => {
                    throw new Error(error);
                });
        }

        if (event.data.type == "data") {
            cellEditFormContentInput.value = JSON.stringify(event.data.content);
        }
    }

    window.addEventListener('message', handleMessage, false);
</script>
