{% extends 'base.html' %}

{% block content %}

<div class="list-group">
    {% for note in notes %}
    <div class="list-group-item">
        <h5>{{ note.title }}</h5>
        <a href="{{ url_for('detail', note_id=note.id) }}" class="btn btn-primary btn-sm">Edit</a>
        <form action="{{ url_for('delete_note', note_id=note.id) }}" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
