{% extends 'base.html' %}
{% block content %}
    <button type="button"
            class="btn btn-primary btn-sm mb-2 text-nowrap"
            data-bs-toggle="modal"
            data-bs-target="#noteModal">Create assistant</button>
    <div class="row row-cols-1 row-cols-md-3 g-2">
        {% for assistant in assistants %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-truncate">{{ assistant.name }}</h5>
                        <a class="btn btn-primary btn-sm"
                           data-assistant-name="{{ assistant.name }}"
                           href="{{ url_for('ui.assistants_ui.view_assistant_completion', assistant=assistant.name) }}">Completion</a>
                        <a class="btn btn-primary btn-sm"
                           data-assistant-name="{{ assistant.name }}"
                           href="{{ url_for('ui.assistants_ui.view_assistant_completion', assistant=assistant.name) }}">Chat</a>
                        <a class="btn btn-primary btn-sm"
                           data-assistant-name="{{ assistant.name }}"
                           href="{{ url_for('ui.assistants_ui.view_assistant_query', assistant=assistant.name) }}">Query</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No assistants found.</p>
        {% endfor %}
    </div>
{% endblock %}
