{% extends 'base.html' %}
{% block breadcrumbs %}
    <li class="breadcrumb-item" aria-current="page">
        <a href="{{ url_for("ui.notes_ui.index") }}">Notes</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">{{ note.title }}</li>
{% endblock %}
{% block content %}
    {% include "notes/partials/notes/viewer.html" %}
    <div>
        <button class="btn btn-primary btn-sm mb-2"
                data-bs-toggle="modal"
                data-bs-target="#createCellModal">Create cell</button>
    </div>
    <div class="modal fade"
         id="createCellModal"
         tabindex="-1"
         aria-labelledby="cellModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="noteModalLabel">Create a new cell</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="createCellForm"
                          action="{{ url_for('ui.notes_ui.create_cell', note_id=note.id) }}"
                          method="POST">
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Title</label>
                            <input class="form-control" name="title" type="text" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Content</label>
                            <textarea class="form-control" name="content" id="content" rows="9" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary btn-sm"
                            data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="createCellForm" class="btn btn-primary btn-sm">Create cell</button>
                </div>
            </div>
        </div>
    </div>
    <script defer>
        document.execCommand('defaultParagraphSeparator', false, 'p');

        function resizeTextArea(textArea) {
            const parent = textArea.parentElement;
            const availableHeight = parent.clientHeight;
            const lineHeight = parseInt(window.getComputedStyle(textArea).getPropertyValue('line-height'));
            const rows = Math.floor(availableHeight / lineHeight)
            textArea.rows = rows - 1;
        }

        function renderMarkdown(markdown) {
            return marked.parse(markdown);
        }

        const setUpCellContent = (cellId) => {
            const cellEditForm = document.getElementById(`cellEditForm-${cellId}`);
            const cellEditFormContentTextArea = document.getElementById(`cellEditFormContentTextArea-${cellId}`);
            const cellEditButton = document.getElementById(`cellEditButton-${cellId}`);
            const cellViewerContainer = document.getElementById(`cellViewerContainer-${cellId}`);

            cellEditButton.onclick = function() {
                console.log("cellEditButton", cellId)
                cellViewerContainer.style.display = 'none';
                cellEditForm.style.display = 'block';

                resizeTextArea(cellEditFormContentTextArea);
                cellEditFormContentTextArea.value = content;
                cellEditFormContentTextArea.focus();
            };
        }
    </script>
    <div id="cells">{% include "notes/partials/cells/cells.html" %}</div>
{% endblock %}
