<form class="my-2"
      hx-post="{{ url_for('ui.notes_ui.partial_note_update', note_id=note.id) }}"
      hx-swap="outerHTML"
      hx-target="this"
      id="noteEditForm-{{ note.id }}"
      method="POST">
    <div class="d-flex gap-2">
        <div class="flex-grow-1 form-group">
            <input autocomplete="off"
                   class="form-control form-control-sm"
                   id="noteEditFormTitleInput"
                   name="title"
                   value="{{ note.title }}"
                   type="text"
                   required>
        </div>
        <button aria-label="Edit note" class="btn btn-sm btn-primary">
            <i class="bi bi-pencil-square"></i>
        </button>
        <button aria-label="Cancel note editing"
                class="btn btn-sm btn-secondary"
                hx-get="{{ url_for('ui.notes_ui.partial_note_viewer', note_id=note.id) }}">Cancel</button>
    </div>
</form>
